@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin position-center($position, $top, $left, $transform) {
  position: $position;
  top: $top;
  left: $left;
  transform: $transform;
}

// Media Queries Manager
/*
  0 - 600px: Phone
  600 - 900px: Tablet Portrait
  900 - 1200px: Tablet Landscape
  [1200 - 1800]: Normal Styles Applied
  1800px+: Desktop
  
  $breakpoint argument choices: 
  - phone
  - tab-port
  - tab-land
  - big-desktop

  1em = 16px

  Recommended Order: 
  Base & Typography
  Genearl Layout & Grid
  Page Layout
  Components
*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) { @content };
    // 600px / 16 = 37.5em
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) { @content };
    // 900px / 16 = 56.25em
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) { @content };
    // 1200px / 16 = 74em
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) { @content };
    // 1800px / 16 = 112.5em
  }
}