.header {
  position: relative; /* reference for top and left to count in logo-box css specifications */
  height: 85vh; /* vh is viewport height */
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/hero-small.jpg);
  background-size: cover; /* covers the amount of the viewport */
  background-position: top;

  -webkit-clip-path: polygon(
    0 0,
    100% 0,
    100% 75vh,
    0 100%
  ); /* clockwise direction */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); /* clockwise direction */

  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    height: 95vh; /* vh is viewport height */
    -webkit-clip-path: polygon(
      0 0,
      100% 0,
      100% 75vh,
      0 100%
    ); /* clockwise direction */
    clip-path: polygon(
      0 0,
      100% 0,
      100% 75vh,
      0 100%
    ); /* clockwise direction */
  }

  // 192dpi Resolution for the Apple Retina Screen
  // You can combine multiple instances of Media Queries with and!
  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5rem),
    only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5rem),
    only screen and (min-width: 125rem) {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)
      ),
      url(../img/hero.jpg);
  }

  @include respond(phone) {
    -webkit-clip-path: polygon(
      0 0,
      100% 0,
      100% 85vh,
      0 100%
    ); /* clockwise direction */
    clip-path: polygon(
      0 0,
      100% 0,
      100% 85vh,
      0 100%
    ); /* clockwise direction */
  }

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 3.5rem;
  }

  &__text-box {
    @include position-center(absolute, 40%, 50%, translate(-50%, -50%));
    /* these fifty percent are needed to now not be related to the parent element, now relation to the element itself. */
    text-align: center;
  }
}
